body{
    background: none;
    color: black;
}

.wrapper{
    border: none;
    box-shadow: none;
}

.header, .sidebar, footer, .player-btn,.page-content__text{
    display: none;
}

.player{
    height: 50%;
}  



